.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
}


  
.subtitle {
font-size: 25px;
border: 1px solid black;
border-radius: 50px;
box-shadow: 4px 4px 2px rgb(0, 0, 0);
padding: 5px 10px;
width: 80%;
margin: 20px auto;
}

.quizCategory {
    width: 80%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 15px;
  }