.result {
    display: flex;
    text-align: center;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    font-size: medium;
    align-items: center;
  }

.title {
  text-align: center;
}