#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


a {
  text-decoration: inherit;
  color: inherit;
}

.app{
  min-height: 70vh;
  min-width: 60vh;
  border: 10px solid;
}

/* footer CSS */
.footer {
  background-color: var(--background-color); /* Use the background color of your app */
  padding: 20px 0;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo,
.react,
.material-ui-logo {
  width: 80px;
  height: auto;
  margin: 0 15px;
  background-color: transparent;
  border: none;
  filter: drop-shadow(0 0 2em #12ebefaa);
  animation: logo-spin 20s linear infinite;
}

.axios-logo {
  width: 80px;
  height: auto;
  margin: 0 15px;
  padding-left: 30px;
  background-color: transparent;
  border: none;
  filter: drop-shadow(0 0 1em #c265f8);
  animation: logo-spin 20s linear infinite;
}

.css-logo {
  width: 80px;
  height: auto;
  margin: 0 15px;
  padding-left: 30px;
  background-color: transparent;
  border: none;
  filter: drop-shadow(0 0 1em #86ceecaa);
  animation: logo-spin 20s linear infinite;
}

.tech-title {
  margin-top: 0px;
  margin-bottom: -2px;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.credit-link {
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-right: 20px; 
}

.credit-icon {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  filter: drop-shadow(0 0 1em #ffffff);
}







/* pre installed css */
/* to add in body below for background later 
  IMPORTANT: choose a light colour bg

  background-image: url('../src/assets/brickwallBG.png');
*/

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0; 
  padding: 0; 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Dark Theme */
.dark {
  background-color: #524949;
  color: #fff;
}

/* Light Theme */
.light {
  background-color: #fff;
  color: #333;
}